build --test_output=all

common --incompatible_java_common_parameters=false

# Note: Needed on my personal laptop
# Workaround for https://github.com/bazelbuild/bazel/pull/12882. Issue should be fixed in >= 4.1.0
# common --features=-debug_prefix_map_pwd_is_dot

# Configure Java version
# --javabase set for Github Codespaces which doesn't have Java installed.
build --java_runtime_version=remotejdk_11
build --java_language_version=11
build --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_java11

build --sandbox_default_allow_network=false
build --remote_local_fallback

# For when I want to use `gdb`, do `bazel build --config debug`.
# Ref: https://bazel.build/contribute/getting-started
build:debug -c dbg
build:debug --javacopt="-g"
build:debug --copt="-g"
build:debug --strip="never"

test --incompatible_exclusive_test_sandboxed

try-import %workspace%/.bazelrc.user
