build --test_output=all

# Note: Needed on my personal laptop
# Workaround for https://github.com/bazelbuild/bazel/pull/12882. Issue should be fixed in >= 4.1.0
# common --features=-debug_prefix_map_pwd_is_dot

# Configure Java version
common --java_toolchain=@bazel_tools//tools/jdk:toolchain_java11 
common --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_java11

