# github.com/target/lorri is used to watch the shell.nix file and pair with direnv to reload the shell.
# On OSX I used the following to set up the daemon: https://github.com/target/lorri/issues/96#issuecomment-588563793
eval "$(lorri direnv)"
